.cardContainer{
    display: flex;
    justify-content: space-between;
}
.cardName{
    font-size: 1rem;
    color: #3d3c3c;
}
.deleteItem,.cardName{
    cursor: pointer;
}
.cardName:active{
    color: blue;
}
